@model AdminEditGenreViewModel
<h1> Edit Genre </h1>
<hr />

<div class="row">
    
    <div class="col-md-3">
        <form asp-controller="admin" asp-action="genreupdate" method="post">
            <div class="form-group">
                <input type="hidden" name="genreId" value="@Model.GenreId" />
                <label asp-for="Name">Kategori</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <button class="btn btn-block btn-warning">Gönder</button>
        </form>
    </div>
    
    <div class="col-md-9">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width:30px">#</th>
                    <th style="width:90px">Image</th>
                    <th>Title</th>
                    <th style="width:140px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>
                            @movie.MovieId
                        </td>
                        <td>
                            <img src="~/img/@movie.ImageUrl" width="80" alt="@movie.Title Afiş" />
                        </td>
                        <td>
                            @movie.Title
                        </td>
                        <td>
                            <a href="/admin/movieupdate/@movie.MovieId" class="btn btn-primary btn-block btn-sm mb-2">Güncelle</a>
                            <form asp-controller="admin" asp-action="moviedelete" method="post" style="display:inline;">
                                <input type="hidden" name="MovieId" value="@movie.MovieId" />
                                <input type="hidden" name="Title" value="@movie.Title" />
                                <button type="submit" class="btn btn-danger btn-block btn-sm mb-2">Sil</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
