<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MovieApp</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    @RenderSection("message",false)
    @await Html.PartialAsync("_navbar")
    @RenderSection("header", false)
    @if (IsSectionDefined("list"))
    {
        <div class="container">
            <div style="padding-top:10px" class="row">
                <div class="col-md-3">
                    @RenderSection("list")
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div style="padding-top:10px" class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    }



    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/jquery/external/sizzle/dist/sizzle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
    @RenderSection("scripts", false)
</body>
</html>
